<!--
{% extends "backend/base.html" %}

{% block title%} Roles{% endblock %}


{% block content %} -->
	<h3>Add new capability</h3>
<br><br><br>
<form id="capability-form" method="post" action="/backend/capabilities/add/">

	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		<p>{{ field.errors }}
		{{ field.help_text }}
		{{ field }}<p>
	{% endfor %}

<input type="submit" name="submit" value="Create Capability">
</form>

{% endblock %}