<!--
{% extends "backend/base.html" %}

{% block title%} Roles{% endblock %}


{% block content %} -->
	<h3>Add new capability</h3>
	{% if get_proj_id %}
	<p>{{form.fields.project.first}}</p>
	{% endif %}
	<p>{{proj_id.proj_id}}</p>
<br><br><br>
<form id="capability-form" method="post" action="backend/projects/1/capabilities">

	{% csrf_token %}
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
		<p>{{ field.errors }}
		{{ field.help_text }}
		{{ field }}<p>
	{% endfor %}

<input type="submit" name="submit" value="Create Capability">
</form>

{% endblock %}