<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    
    <title>{% block title %}In Development - TOM{% endblock %}</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
    
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <link rel="stylesheet" type="text/css" href="{% static 'backend/style.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">

    <div id="sidebar">
        {% block sidebar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
    <ul class="nav navbar-nav">
        <li><a href="/backend/projects">Home</a></li>
        <li><a href="#">About</a></li>
    {% if user.is_authenticated %}
        <li><a href="#">Welcome {{ user.username|capfirst }} </a></li>
        <li><a href="{% url 'auth_logout' %}?next=/backend/projects">Logout</a></li>
    {% else %}
        <li><a href="{% url 'registration_register' %}">Register</a></li>
        <li><a href="{% url 'auth_login' %}">Login</a></li>
    {% endif %}

    </uL>
  </div>
</nav>
        {% endblock %}
    </div>

        {% block content %}

        {% endblock %}
    
</div>


</div>
</body>
</html>