
{% extends "backend/base.html" %}

{% block title%} Capabilities{% endblock %}


{% block content %}
	
<br><br><br>	
<h1>Capabilities</h1>
<p>The following lists the capabilities and their associated functions for <strong>{{capability_list.name }}</strong> : </p>
<!-- template copied from project detail.html template -->
{% if function_list %} <!-- second conetext -->

{% endif %}
{% if capability_list %}
<button type="button" class="btn btn-primary btn-xs">Show/Hide Future State</button>
	{% for cap in capability_list %}
	{% if cap.future_status == True %}
	{% if forloop.first %}<div class="row">{% endif %}

	<div class="col-xs-4">

	<div class="panel panel-default h">
		<div class="panel-heading"> 
			<h3 class="panel-title">{{ cap.name }}</h3>
		</div>

	{% if cap.function_set.all %}
	{% for function in cap.function_set.all %} 
		{% if function.future_status == True %}
		<div class="panel-body">
			<a href="{% url 'backend:function-detail' cap.project.first.id function.id%} "> {{ function.name }} </a>
		</div>
		{% else %}
		<div class="panel-body">
			<div class="class='future-state-only'">≈<s>{{ function.name }}</s> </div>
		</div>
		{% endif %}
	{% endfor %}
	</div>

	<div class="panel-body">
		{% for function in cap.function_set.all %}  {% if forloop.first %}
		<a href="{% url 'backend:add-capability' cap.project.first.id %}">Add new capability {{cap.project_set|first}}</a> {% endif %}
		{% endfor %} <br>
	</div>
	<br>
	{% else %}
	
	<div class="panel-body">No functions for this capability</div>
	</div>
		<div class="panel-body">
		{% for function in cap.function_set.all %}  {% if forloop.first %}
		<a href="{% url 'backend:add-capability' cap.project.first.id %}">Add new capability {{cap.project}}</a> <br>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
	</div>
	 	{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    	{% if forloop.last %}</div>{% endif %}

    	{% endif %}
{% endfor %}

	<br>
<h3>Roles for above capabilities </h3>
{% for cap in capability_list %} 
	{% if forloop.first %}
	<a href="{% url 'backend:roles' cap.project.first.id %}">Click here for details</a>
	{% endif %}
{% endfor %}
{% else %}
	<p>No projects are available</p>
{% endif %}
</div>

{% endblock %}