
{% extends "backend/base.html" %}

{% block title%} Capabilities{% endblock %}


{% block content %}
	
<br><br><br>	
<h1>Capabilities</h1>
<p>The following lists the capabilities and their associated functions for <strong>{{capability_list.name }}</strong> : </p>
<!-- template copied from project detail.html template -->
{% if capability_list %}

	{% for cap in capability_list %}
	
	{% if forloop.first %}<div class="row">{% endif %}
	<div class="col-xs-4">

	<div class="panel panel-default h">
		<div class="panel-heading"> 
			<h3 class="panel-title">{{ cap.name }}</h3>
		</div>

	{% if cap.function_set.all %}

	{% for function in cap.function_set.all %} 
		<div class="panel-body">
			<a href="functions/{{ function.id }}"> {{ function.name }} </a>
		</div>
	{% endfor %}
	</div>

	<div class="panel-body">
		<a href="/backend/capabilities/add/">Add new capability</a> <br>
	</div>
	<br>
	{% else %}
	
	<div class="panel-body">No functions for this capability</div>
	</div>
		<div class="panel-body">
		<a href="/backend/capabilities/add/">Add new capability</a> <br>
	</div>
	{% endif %}
	</div>
	 	{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    	{% if forloop.last %}</div>{% endif %}
	{% endfor %}

{% else %}
	<p>No projects are available</p>
{% endif %}
</div>

{% endblock %}