
{% extends "backend/base.html" %}

{% block content %}

<br><br><br>
<div class="page-header">
	  <h3>{{ function.name }}</small></h3>
</div>

{% if function %}
{{function.capability }}

{% for c in function.capability.project.all %}
	<p>{{c.proj_name}} || {{c.role}}</p>

	{% for r in c.role_set.all %}
		<p>{{r.name}}</p>
	{% endfor %}

{% endfor %}

	<table class="table table-striped">
		<thead>
			<tr>
				<td>#</td>
				<td>Name</td>
				<td>Description</td>
				<td>Allocation</td>
				<td>Created by</td>
			</tr>
		</thead>
	<tbody>
		{% if  function.roletofunction_set.all %}
		
		<h3><small>TODO: Need to figure out how to fiter to only roles for current function</small></h3>
	
		<br>

		{% endif %}
		{% for role in function.roletofunction_set.all %}
			<tr>
				{% if role.roletofunction_set.all %}
					test
				{% endif %}
				<td> {{ role.roletofunction_num }} </td>
				<td> <a href="{{ role.id }}" >{{ role.name }} </a> </td>
				<td> {{ role.description }} </td>
				<td> {{ role.allocation }} </td>
				<td> {{ role.created_by|capfirst }} </td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	
	<br>

<p><a href="{% url 'backend:projects' %} ">Return to project page</a></p>

{% else %}
	<p>No functions are available</p>
{% endif %}

{% endblock %}