
{% extends "backend/base.html" %}

{% block title%} Functions{% endblock %}


{% block content %}

<br>
<div class="page-header">
	  <h3>Capabilities for {{ object.proj_name }}</h3>
</div>

{% if object %}
<p>The following lists the capabilities and their associated functions: </p>

	{% for cap in object.capability_set.all %}
	
	{% if forloop.first %}<div class="row">{% endif %}
	<div class="col-xs-4">

	<div class="panel panel-default">
		<div class="panel-heading"> 
			<h3 class="panel-title">{{ cap.name }}</h3>
		</div>

	{% if cap.function_set.all %}

	{% for function in cap.function_set.all %} 
		<div class="panel-body">
			<a href="functions/{{ function.id }}"> {{ function.name }} </a>
		</div>
	{% endfor %}
	</div>

	<div class="panel-body">
		<a href="/backend/capabilities/add/">Add new capability</a> <br>
	</div>

	{% else %}
	
	<div class="panel-body">No functions for this capability</div>
	</div>
		<div class="panel-body">
		<a href="/backend/capabilities/add/">Add new capability</a> <br>
	</div>
	{% endif %}
	</div>
	 	{% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
    	{% if forloop.last %}</div>{% endif %}
	{% endfor %}

{% else %}
	<p>No projects are available</p>
{% endif %}
</div>
{% endblock %}