
{% extends "backend/base.html" %}

{% block title%} Roles{% endblock %}


{% block content %}

{% block role_list %}

<h3> Roles </h3>
{% if role_list %}

	<h2>Roles defined for {{ role_list.project|first }}</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<td>Role</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				{% for role in role_list %}	
				{% if role.status == "Approved" %}
				<tr>
					<td> {{ role.name }} </td>
					<td> {{ role.description }} </td>
				{% endif %}	
				</tr>
				{% endfor %}
			</tbody>  
		</table>
		<br>

		<h2>Role list by capability</h2>

		{% for role in role_list %}	
			{% if role.status == "Approved" %}
				<p> <strong>{{ role.name }} </strong></p> 
			{% endif %}
		
		{% if role.roletofunction_set.all %}
	
		<table class="table table-striped">
			<thead>
				<tr>
				
					<td>Role</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr>
				{% for p in role.roletofunction_set.all %} 
				{% if p.name|length > 0 %}
					<td> {{ p.name }} </td>
					<td> {{ p.allocation }} </td>
					{% endif %}
				</tr>
			</tbody>
		
		{% endfor %}
		
		</table>
		
		{% else %}

		<p>No roles for this function.</p>
		<br>

		{% endif %}

		{% endfor %}

		<h2>Role allocation per function</h2>

		<table class="table table-striped">
			<thead>
				<tr> 
					<td>.</td>
					{% for role in role_list %}	
						{% if role.status == "Approved" %}
							<td> {{ role.name }} </td>
						{% endif %}
					{% endfor %}
				</tr>
			</thead>
			<tbody> 
				<tr> 	
						{% for role in role_list %} 
							{% for p in role.roletofunction_set.all %}
								{% if p.name|length > 0 %}
									<td>  {{ p.name }} </td> 
									<td> {{ p.allocation }}	</td>
								{% endif %}
					</tr>
								{% endfor %} 
							{% endfor %}
			</tbody>	
		</table>	

{% else %}
	<p>No roles are available</p>
{% endif %}

{% endblock %}

{% endblock %}